.carousel-item img{
    height: 600px;
}
.carousel-caption {
    padding-bottom: 238px !important;
}

.table-form{
    background-color: #f8f9fa;
}

.three-cards{
    background-color: #f8f9fa;
}